@import "@frappe-ui-react-starter/shared-config/tailwind";

@source "../../../packages/design-system";
@source "../../node_modules/.pnpm/@rtcamp+frappe-ui-react@1.0.0-beta.3_@types+react-dom@19.1.9_@types+react@19.1.12__@typ_e79b9c829c5ded6efd28477c482ef68a/node_modules/@rtcamp/frappe-ui-react"
